<div class="product border rounded border-gray-300 p-2">
	<% if product.image.present? %>
		<%# image_tag product.image.variant(resize_to_fit: [200, 200]) %>
		<%= image_tag product.image, width: 250 %>
	<% else %>
		<p> No Image Here </p>
	<% end %>
	<h2 class="text-xl text-gray-600">
		<%= product.name %>
	</h2>

	<p class="text-gray-500">
		<%= product.description.truncate(20) %>
	</p>

	<h3 class="text-lg text-green-600">
		$<%= product.price %>
	</h3>

</div>