<h3 class="uppercase mb-2"> Latest Products </h3>

<% if @products.any? %>
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3">
		<% @products.each do |product| %>
			<%= link_to product_path(product) do %>
				<%= render 'products/product', product: product %>
			<% end %>
		<% end %>
	</div>

<% else %>
	<p class="text-gray-500 font-medium">
		No products here yet, you can create new product
		<%= link_to 'here.', new_product_path, class: 'text-blue-500 transition hover:text-blue-700' %>
	</p>
<% end %>