<header class="bg-black text-white p-4 mb-2">
	<nav>
		
		<div class="container mx-auto flex justify-between">
			<h2 class="text-lg font-medium"> MyShop </h2>

			<ul>
				<li>
					<%= link_to 'Home', products_path, class: 'font-medium' %>
				</li>

			</ul>
		</div>

	</nav>
</header>